<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>172262660003-d5jsrjgub004j6hcbk7rjqsle1p6ao3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172262660003-d5jsrjgub004j6hcbk7rjqsle1p6ao3i</string>
	<key>API_KEY</key>
	<string>AIzaSyAt7CADPYv_ZkL0S0vHX-PWqd8EV21FXTY</string>
	<key>GCM_SENDER_ID</key>
	<string>172262660003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phishingGameProject</string>
	<key>PROJECT_ID</key>
	<string>projeto-game-phishing-190d4</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-game-phishing-190d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172262660003:ios:cd02c3cd723a69a74fac16</string>
</dict>
</plist>